test.txt
[{"id":"5bd22824.dfa678","type":"tab","label":"Twitter","disabled":false,"info":""},{"id":"9d87910e.fe8e2","type":"Bme280","z":"5bd22824.dfa678","name":"","bus":"1","address":"0x76","topic":"bme280","extra":false,"x":160,"y":140,"wires":[["df896bef.be2688"]]},{"id":"fc351ef.7a478e","type":"inject","z":"5bd22824.dfa678","name":"定期実行","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"0 1-23 * * *","once":false,"onceDelay":0.1,"x":170,"y":60,"wires":[["9d87910e.fe8e2"]]},{"id":"f8426e94.c6fa5","type":"twitter out","z":"5bd22824.dfa678","twitter":"","name":"Tweet","x":410,"y":360,"wires":[]},{"id":"882a402d.2a2d3","type":"debug","z":"5bd22824.dfa678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":320,"wires":[]},{"id":"66a45858.62b208","type":"inject","z":"5bd22824.dfa678","name":"","topic":"Tweet by node-red","payload":"Tweet by node-red","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":500,"wires":[[]]},{"id":"a6c5500d.022dc","type":"function","z":"5bd22824.dfa678","name":"BME280計測表示","func":"var temperature = msg.payload.temperature_C;\nvar humidity = msg.payload.humidity;\nvar pressure = msg.payload.pressure_hPa;\n\nmsg.payload={\n    \"温度\":temperature,\n    \"湿度\":humidity,\n    \"気圧\":pressure\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":220,"wires":[["21159a02.2f77f6"]]},{"id":"df896bef.be2688","type":"change","z":"5bd22824.dfa678","name":"小数点切り","rules":[{"t":"set","p":"payload.temperature_C","pt":"msg","to":"$round(msg.payload.temperature_C,2)","tot":"jsonata"},{"t":"set","p":"payload.humidity","pt":"msg","to":"$round(msg.payload.humidity,2)","tot":"jsonata"},{"t":"set","p":"payload.pressure_hPa","pt":"msg","to":"$round(msg.payload.pressure_hPa,1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":140,"wires":[["a6c5500d.022dc"]]},{"id":"21159a02.2f77f6","type":"change","z":"5bd22824.dfa678","name":"文字列変換","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":220,"wires":[["35655ae6.9c81d6"]]},{"id":"35655ae6.9c81d6","type":"change","z":"5bd22824.dfa678","name":"不要文字列削除","rules":[{"t":"change","p":"payload","pt":"msg","from":"{","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"\"","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"}","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":300,"wires":[["882a402d.2a2d3","f8426e94.c6fa5"]]}]