flow/ddsk_code.json
[
    {
        "id": "41b172f80a2b47ff",
        "type": "tab",
        "label": "ドドスコード",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "195baadc79f07be4",
        "type": "inject",
        "z": "41b172f80a2b47ff",
        "name": "配列{\"ドド\",\"スコ\"}宣言（兼定期実行）",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "[\"ドド\",\"スコ\"]",
                "vt": "json"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "731b8dc7e645221b"
            ]
        ]
    },
    {
        "id": "731b8dc7e645221b",
        "type": "random",
        "z": "41b172f80a2b47ff",
        "name": "乱数0,1出力",
        "low": "0",
        "high": "1",
        "inte": "true",
        "property": "payload",
        "x": 530,
        "y": 100,
        "wires": [
            [
                "8aec8b6647a86613"
            ]
        ]
    },
    {
        "id": "4ce823d3c4770e41",
        "type": "join",
        "z": "41b172f80a2b47ff",
        "name": "4回メッセージを受け取って連結する",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "016802c56acc1ab1"
            ]
        ]
    },
    {
        "id": "016802c56acc1ab1",
        "type": "switch",
        "z": "41b172f80a2b47ff",
        "name": "\"ドドスコスコスコ\"かどうか判定",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ドドスコスコスコ",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 180,
        "wires": [
            [
                "af69a775937519f6"
            ],
            []
        ]
    },
    {
        "id": "87d684be55f76682",
        "type": "debug",
        "z": "41b172f80a2b47ff",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "result",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 260,
        "wires": []
    },
    {
        "id": "9a81695737fe6b36",
        "type": "change",
        "z": "41b172f80a2b47ff",
        "name": "\"ラブ注入❤\"出力",
        "rules": [
            {
                "t": "set",
                "p": "result",
                "pt": "msg",
                "to": "ラブ注入❤",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 260,
        "wires": [
            [
                "87d684be55f76682",
                "1133f7247705a5b2"
            ]
        ]
    },
    {
        "id": "a796682eebb74c3d",
        "type": "ui_text",
        "z": "41b172f80a2b47ff",
        "group": "b138105aaa8a760f",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "出力文字",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1060,
        "y": 60,
        "wires": []
    },
    {
        "id": "1133f7247705a5b2",
        "type": "ui_text",
        "z": "41b172f80a2b47ff",
        "group": "b138105aaa8a760f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "結果出力",
        "format": "{{msg.result}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "af69a775937519f6",
        "type": "join",
        "z": "41b172f80a2b47ff",
        "name": "3回メッセージを受け取って連結する",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 270,
        "y": 260,
        "wires": [
            [
                "9a81695737fe6b36",
                "bdf3e57d1cf23ba2"
            ]
        ]
    },
    {
        "id": "0416bb8898d177c7",
        "type": "inject",
        "z": "41b172f80a2b47ff",
        "name": "結果クリア",
        "props": [
            {
                "p": "result",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 560,
        "y": 300,
        "wires": [
            [
                "1133f7247705a5b2"
            ]
        ]
    },
    {
        "id": "ec57b6916fe19391",
        "type": "debug",
        "z": "41b172f80a2b47ff",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 140,
        "wires": []
    },
    {
        "id": "8aec8b6647a86613",
        "type": "function",
        "z": "41b172f80a2b47ff",
        "name": "配列要素からドドスコランダム出力",
        "func": "msg.payload = msg.topic[msg.payload];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 100,
        "wires": [
            [
                "4ce823d3c4770e41",
                "a796682eebb74c3d",
                "ec57b6916fe19391"
            ]
        ]
    },
    {
        "id": "bdf3e57d1cf23ba2",
        "type": "debug",
        "z": "41b172f80a2b47ff",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 380,
        "wires": []
    },
    {
        "id": "b138105aaa8a760f",
        "type": "ui_group",
        "name": "楽しんご",
        "tab": "fdcf15307ae7db6d",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fdcf15307ae7db6d",
        "type": "ui_tab",
        "name": "ドドスコする所",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
