flow/タブ切り替え(Dashboard).json
[{"id":"782c3314.d9176c","type":"tab","label":"タブ切り替え(Dashboard)","disabled":false,"info":""},{"id":"c1be54a5.4b9c38","type":"ui_ui_control","z":"782c3314.d9176c","name":"","events":"all","x":460,"y":200,"wires":[[]]},{"id":"9e9fd885.ecfaa8","type":"ui_button","z":"782c3314.d9176c","name":"","group":"9afa22d7.801d1","order":0,"width":0,"height":0,"passthru":false,"label":"Go to Tab1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":220,"wires":[["c1be54a5.4b9c38"]]},{"id":"62aec1c4.48406","type":"ui_button","z":"782c3314.d9176c","name":"","group":"d66de822.1cab58","order":0,"width":0,"height":0,"passthru":false,"label":"Go to Tab2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":160,"wires":[["c1be54a5.4b9c38"]]},{"id":"9afa22d7.801d1","type":"ui_group","name":"Group 1","tab":"a293492b.059c68","order":1,"disp":true,"width":6},{"id":"d66de822.1cab58","type":"ui_group","name":"Group 1","tab":"ac8e654.c699698","order":1,"disp":true,"width":6},{"id":"a293492b.059c68","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"ac8e654.c699698","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
